[Desktop Entry]
Encoding=UTF-8
Name=Polypaudio Volume Meter
GenericName=Volume Meter
Comment=Monitor the output or input volume
Exec=pavumeter
Icon=audio-input-microphone
StartupNotify=true
Type=Application
Categories=Application;AudioVideo;Audio;
